# Ignore backend directory
# Repository here: https://github.com/gsmx64/supermanager-backend
supermanager-backend/

# Ignore frontend directory
# Repository here: https://github.com/gsmx64/supermanager-frontend
supermanager-frontend/

# Ignore environment variable files
k3s/ansible/.env.ansible
.env.production