# Ignore backend directory
# Repository here: https://github.com/gsmx64/supermanager-backend
backend/

# Ignore backend directory
# Repository here: https://github.com/gsmx64/supermanager-frontend
frontend/
